
/**{
  border: 1px solid red;
}*/

@@font-face {
  font-family: Interstate Light;
  src: local('Interstate Light');
}

.title-div{
  margin: auto;

}

.center{
  text-align: center;
  font-size: 100px;
  font-family: "Allura";
}

.thumbnail-image{
  height:90px;
  margin-top:10px;
  vertical-align: -10px;
}

.float-right{
  float:right;
}

body {
  /*background: -webkit-linear-gradient(#99EB99, #66E066, #00CC00, #00B800);*/
  /*background: -webkit-radial-gradient(circle, white, #66E066, #00CC00);*/
  /*background: -webkit-radial-gradient(circle, white, #ADEBFF, #33CCFF);*/
  margin: 0;
  font-family: "Interstate", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

hr{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.header{
  display: block !important;
  height: 100px;
  font: Interstate;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d7/Vienna_-_Baroque_Bookshelves_detail_-_6729.jpg);*/
  color: #A4744E;
}

.nav-ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.nav-li {
  display: inline-block;
  margin: 15px 10px;
}

a:link {
  color: inherit;
  text-decoration: none;
}

#title-babble-bear {
  margin: auto;
  position: absolute;
  margin-top: 2%;
  margin-left: 30%;
}

.nav {
  position: absolute;
  right: 0;
  width: 50%;
  height: 10%;
}

.topics-heading{
  color: #e53935;
  cursor: pointer;
}

#bear {
  height: 80px;
  width: 80px;
}

#bear-div {
  float: right;
}

.bear-li {
  position: absolute;
  bottom: 2%;
  right: 40%;
}

.categories {
  text-align: center;
  top: 0%;
  height:700px;
  background-image: url(http://www.flash-screen.com/free-wallpaper/vector-pastoral-scenery-wallpapers/vector-wallpaper-glassland,1440x900,44371.jpg);
  background-position: 0px -90px;
}

.category-name {
  margin: auto;
  display: block;
  cursor: pointer;
}

.categories .category {
  display: inline-block;
  text-align: center;
  margin: 50px;
  width: 250px;
  height: 200px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0px 5px 20px grey;
  opacity: 75%;

}

.categories .category:active {
  display: inline-block;
  text-align: center;
  margin: 50px;
  width: 250px;
  height: 200px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: none;
}

.category .content {
  display: table-cell;
  height: 200px;
  vertical-align: middle;
  width: 250px;
  text-align: center
}

.title_div {
  text-align: center;
}

.title {
  line-height:2.25;
}

.login_form {
  text-align: center;
  margin:auto;
  width: 35%;
}

.filler_space {
  height: 60px;
}

.docs-header {
  margin: auto;
  text-align: center;
}

.switch:hover {
  color: #32C3F0;
  text-decoration: underline;
  cursor: pointer;
}

.signup_form {
  text-align: center;
  margin:auto;
  width: 35%;
}

.hidden {
  display: none;
}

.topics-bar {
	height: 100%;
	width: 50%;
	position:absolute;
	color: white;
  transition: 1s ease-out;
}

.levels-added {
  width: 35%;
  position:absolute;
}

.topic-heading {
	text-align: center;
}

.border-formatting{
	margin-left: 10%;
	margin-right: 10%;
}

.level-heading {
  color: #e53935;
}

.level-heading:not(.nohover):hover {
  font-weight: 600;
  cursor: pointer;
}

.topics-heading:not(.nohover):hover {
  font-weight: 600;
  cursor: pointer;
}

.topic-description {
  font-size: 15px;
}

.levels-bar {
  margin-left: 50%;
  transition: 1s ease-out;
}

.questions-added {
  position:relative;
  margin-left: 35%;
}

.remove-extra {
  transition: 1s;
}

.remove-visual:nth-child(1n+5) {
  opacity: 0;
}

.remove-complete:nth-child(1n+5) {
  display: none;
}
.level-div {
  border-bottom: #9e9e9e solid 1px;
}

.level-select-div {
  display: none;
}
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.modalDialog.showModal {
  opacity: 1;
}

.modalDialog > div {
  width: 900px;
  height: 500px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
}

.modal-border-formatting{
  left: 0px;
  top: 0px;
}

.modal-questions-bar {
  padding-top: 65px;
  margin-left: 500px;
  margin-right: 15%;
}

.modal-image-bar {
  background-color: #2196f3;
  height: 100%;
  width: 40%;
  position:absolute;
  color: white;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;

}

.modal-img {
  position: absolute;
  margin-left: 25%;
  margin-top: 40%;
  height: 200px;
  width: 200px;
}

form.choose-word {
  height: 500px;
}


.toggleStudyTest {
  display:none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.visible {
  opacity:100%;
}

.onoffswitch {
  display: none;
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  left: 6%;
  bottom:0;
  font-family: "Interstate", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;

}
.onoffswitch-checkbox {
  display: none !important;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 32px;
  font-size: 14px; color: white;   font-family: "Interstate", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
 font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "STUDY";
  padding-left: 10px;
  background-color: #2196f3; 
  color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "PLAY";
  padding-right: 10px;
  background-color: #2276f3; 
  color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

button.next-question {
  border: 1px solid #2196f3;
  margin-top: 7%; 
  margin-left: 25%;
  opacity: 0;
  transition: all 0.5s ease-in;
}

button.next-question.show-button {
  opacity: 1;
}

button.previous-question {
  display: inline-block;
  border: 1px solid #2196f3;
  margin-top: 7%;
  margin-left: 30px;
}

button.back-to-levels {
  border: 1px solid #2196f3;
  display: inline-block;
  margin-top: 7%;
  margin-left: 30px;
}

button.check-answer {
  margin-top: 7%;
  margin-left: 15%;
  border: 1px solid #2196f3;
}

.study-buttons-div {
  margin-left: 46.5%;
}
.modal-congrats-content {
  text-align: center;
  margin-top: 15%;
  width: 300px;
}

.right-answer {
  display: block;
  margin-left: 55px;
}

.wrong-answer {
  display: block;
  margin-left: 55px;
  font-size: 1.2rem;
}

.pink-background {
  background-color: pink;
  position: relative;
}

.green-background {
  background-color: lightgreen;
  position: relative;
}
.smiley-div {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

.sad-smiley-div {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
  margin-top: 15px;
  height: 40px;
  width: 40px;
}

.close {
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1px solid red;
  border-radius: 50%;
  background-color: #FF6157;
  top: 10px;
  right: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 1.3;
}

.hidden {
  display: none !important;
}

.english_word {
  color: #2196f3;
}