/**{
  border: 1px solid red;
}*/

/*.background-cheer {*/
  /*background-image: url("/txtBackgroundBabbleBear.jpg");*/
  /*position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-filter: blur(2px);
}*/

body {
  background: -webkit-linear-gradient(#99EB99, #66E066, #00CC00, #00B800);
  /*background: -webkit-radial-gradient(circle, white, #66E066, #00CC00);*/
  /*background: -webkit-radial-gradient(circle, white, #ADEBFF, #33CCFF);*/
}

html {
  min-height: 100%
}

.nav-ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.nav-li {
  display: inline-block;
  margin: 15px 10px;
}

a {
  color: black;
}

#babble-bear {
  margin: auto;
  position: absolute;
  padding-top: 2%;
  padding-left: 30%;
}

.nav {
  position: absolute;
  right: 0;
  width: 100%;
  height: 20%;
}

#bear {
  height: 80px;
  width: 80px;
  z-index: 3;
}

.bear-li {
  position: absolute;
  bottom: 2%;
  right: 40%;
}

.categories {
  position: absolute;
  margin: auto;
  top: 25%;
  left: 25%;
  height: 80%;
  width: 50%;
}

.category-pic {
  display: block;
  height: 70px;
  width: 70px; 
  border-radius: 50%;
}

.category-name {
  display: inline-block;
  width: 30%;
  padding-right: 10%;
  cursor: pointer;
}

.category {
  transition: all 2s;
}

.move-left {
  cursor: pointer;
  padding-left: 15em;
}

