<h1> Categories </h1> 

<div class="categories">  
  <% @categories.each do |category| %>
      <img src="<%= category.example_pic %>" class="category-pic">
      <h5 class="category-name"> <%= category.name %> </h5>
  <% end %>
</div>
