<div class="categories twelve columns">  
  <% @categories.each do |category| %>
    <div id="cat<%= category.id %>" class="category four columns">
      <h5 class="category-name"> <%= category.name %> </h5>
    </div>
  <% end %>
</div>
