<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">

  <script type="text/jsx" src="/javascript/application.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script src="https://fb.me/react-0.13.3.js"></script>
  <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>

  <title></title>
</head>
<body>
  <div class="placeholder-game"> </div>
  <%= yield %>
</body>
</html>
