<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="https://fb.me/react-0.13.3.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="nav">
    <h3> BabbleBear </h3>

    <ul> 
      <li> 
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Profile</a>
      </li>
      <li>
        <a href="#">sdfsdf </a>
      </li>
      <li class="bear-li">
        <img src="https://s-media-cache-ak0.pinimg.com/236x/63/c8/58/63c858955ea82aa8b1fa7d3382af4b49.jpg" id="bear">
      </li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>
