<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <nav class="nav">
      <div id="title-babble-bear">
        <img src="/Babble1.png"/>
        <div id="bear-div">
          <img src="https://s-media-cache-ak0.pinimg.com/236x/63/c8/58/63c858955ea82aa8b1fa7d3382af4b49.jpg" id="bear"/>
        </div>
      </div>
    </nav>
  </header>
  <div class="placeholder-game"> </div>
  <%= yield %>
</body>
</html>
