<div class="topics_bar">
	<div class="border_formatting">
		<br>
		<br>
		<h1 class="topic_heading"><big> Topic <big></h1>
		<h3> Topic Description Tagline</h3>
		<p> Optional Topic Paragraph </p>
	</div>
</div>


<div class="levels_bar">
	<div> Level 1</div>
	<div> Level 2</div>
	<div> Level 3</div>
</div>
